a {
  text-decoration: none;
}

.iconeClose {
  color: white;
  font-size: 80px;
}

button {
  cursor: pointer;
}

.input-wrapper3 label {
    width: 120px;
}

.account3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  border: 1px solid black;
  background-color: black;
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem;
  box-sizing: border-box;
  text-align: left;
  margin-bottom: 2rem;
}

.account-amount3 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
}

.account-amount-description3 {
  margin: 0;
  color: white;
}

.account-title3 {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: normal;
  color: white;
}

.account-content-wrapper3 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.detailContent {
    max-width: 1400px;
    margin: 0 70px;
}

.main-nav2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iconeHeader2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  margin: 0;
}

.row {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 0.5fr 0.1fr;
  align-items: center;
  padding: 0 20px;
  color: black;
  margin-bottom: 20px;
}

.green {
  background-color: #00bc77;
  color: white;
  border-radius: 2px;
}

.row p {
  margin: 4px 0;
}

.icone-arrow {
  transition: transform 0.3 ease; 
  cursor: pointer;
}

.dateGrid {
  display: flex;
}

.detail {
  display: none;
}

.detailopen {
  padding: 20px 0;
  display: grid;
  justify-items: baseline;
  grid-column: span 2;
}

.divOne{
  display: grid;
  grid-column: 1/2;
  justify-items: baseline;
}

.divTwo {
  display: grid;
  grid-column: 2/2;
  justify-items: baseline;
}

.iconPen {
  cursor: pointer;
  font-size: 15px;
}

.modalHidden {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease;
}

.modalOpen {
  opacity: 1;
  pointer-events: auto;
}

.buttonSubmit {
  border-radius: 25px;
  background: white;
  color: #00bc77;
  padding: 5px;
}

.divNote {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.iconPen2 {
  cursor: pointer;
  font-size: 15px;
}

.modalHidden {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  margin-left: 100px;
  margin-bottom: 30px;
}

.divNoteEdit {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.accountFeatureMaxWidth {
  display: flex;
  flex-direction: column;
  max-width: 1300px;
  align-items: center;
  margin: 0 auto;
}